.jumbotron {
    margin: 0;
    padding: 50px 0;
    height: 200px;
    background-image: url("/img/coffeebanner4.jpg");
    background-size: cover;
    background-position: 100% 40%;
    /* linear-gradient(to right, #5637DD, #3046C5, #60106B); */
    color: black;
}

.site-footer {
    background-image: linear-gradient(maroon, white);
    padding: 20px 0;
}